extends layout

block content
  section#site-nav
    header
      div.container
        div.row
          div.col-sm-12
            div.row
              div.col-sm-2.col-xs-4
                a(href='#')
                  img.logo(src='image/logo.png', alt='Piloto 151')
              nav.col-sm-2.tagline.col-xs-4
                a.btn-outline(href='#bottom') Apply
  section#top-content(style='height:612px')
    main
      div.container
        div.row
          div.col-sm-12.col-sm-12
            div.call-out
              h2 Be a part of the first internship exchange program for developers.
              div
                a.btn.btn-apply(href='#bottom') Apply Now
  section#content-section
    main
      div.container
        div.row
          div.col-sm-12.col-xs-12
            div.row
              div.col-sm-12
                div.col-sm-5.col-xs-12.col-md-5
                  img.image-response(src='image/sopr-piloto.png', alt='Piloto + Startups of Puerto Rico')
                div.col-sm-6.col-xs-12.right-column
                  h2.content-text Piloto 151, in conjunction with its partners at Startups of Puerto Rico, launches the first internship exchange program designed to provide talented, Puerto Rican developers with the opportunity to intern at up-and-coming startups in the US mainland.
  section#company
    main
      ul.companies-grid.full-witdth-grid
        li.grid-item(style='border:none;')
          figure.front
            div.foreground
              img(src='image/sopr-1.png', alt='Startups of Puerto Rico')
        li.grid-item(style='border:none;')
          figure.front
            div.foreground
              img(src='image/sopr-2.png', alt='Startups of Puerto Rico')
        li.grid-item(style='border:none;')
          figure.front
            div.foreground
              img(src='image/sopr-3.png', alt='Startups of Puerto Rico')
        li.grid-item(style='border:none;')
          figure.front
            div.foreground
              img(src='image/sopr-4.png', alt='Startups of Puerto Rico')
  section#content-section
    main
      div.container
        div.row
          div.col-sm-12.col-xs-12
            div.row
              div.col-sm-12
                h2.second-section-title This January we are launching our first internship class and are looking for 2 interns to work at Cloud Elements in Denver, Colorado, for a two-week period.
            div.row
              div.col-sm-12
                div.col-sm-6
                  div.row
                    h2.second-section-text Successful applicants must meet the following eligibility criteria:
                    ul
                      li 
                        h3.intern-requirment Live in Puerto Rico
                      li 
                        h3.intern-requirment Be able to program in Java, JQuery or Extjs, or any web styling CSS
                      li 
                        h3.intern-requirment Speak English fluently 
                      li 
                        h3.intern-requirment Be available from January 2 – 16, 2014
                div.col-sm-6
                  div.row
                    h2.second-section-text Finalists will go on to an interview round and will be contacted by the end of November, 2013. All applications are due on November 20, 2013 at midnight.
                    h2.second-section-text Apply today and get a chance to intern at one of the hottest, new startups in Denver (they will also take you skiing!)
  section#company
    main
      ul.companies-grid.full-witdth-grid
        li.grid-item
          figure.front
            div.foreground
              img(src='image/company-1.png', alt='Cloud Elements')
        li.company-info-grid
          div(style='padding:40px 60px 0;')
            h2.company-name About Cloud Elements
            p.company-bio Cloud Elements provides pre-built integrations into leading cloud services that help app developers eliminate weeks to months of development time by automating the selection, provisioning, monitoring and maintenance of connections into cloud platforms. Our clients spend more time building their unique business functionality and less time integrating common services; thereby reaching their market faster and more cost effectively.
  section#company(style='border-bottom:1px solid #ddd;')
    main
      ul.companies-grid.full-witdth-grid
        li.grid-item
          figure.front
            div.foreground
              img(src='image/company-2.png', alt='Piloto 151')
        li.company-info-grid
          div(style='padding:40px 60px 0;')
            h2.company-name About Piloto 151
            p.company-bio Piloto 151 is the first coworking space in San Juan, Puerto Rico. Our mission is to contribute to the strengthening of the Island’s entrepreneurship ecosystem and provide a unique setting for entrepreneurs and professionals to work, collaborate and grow. 
  div#bottom.top-application-form
  section#content-section
    main
      div.container
        div.row
          div.col-sm-12
            div.row
              form#apply(action='/save', method='post', enctype='multipart/form-data')
                input(type='hidden', name='_csrf', value=token)
                div.col-sm-12
                  div
                    h3.application-section-name General Information
                  div
                    input.form-input(type='text', placeholder='Name', name='name', required, autofocus)
                  div
                    input.form-input(type='tel', placeholder='Phone Number', name='phone')
                  div
                    input.form-input(type='email', placeholder='Email', required, name='email')
                  div
                    h3.application-section-name Shcool Information
                  div
                    input.form-input(type='text', placeholder='School', name='school', required)
                  div
                    input.form-input(type='text', placeholder='Grade Point Average (GPA)', name='gpa')
                  div
                    h3.application-section-name Resume 
                  div
                    input(type='file', name='resume' required)
                  div
                    h4.application-section-name(style='margin-top:30px;') Question
                  div
                    p.question-text Implement an algorithm that goes from 1 to 100 (inclusive) and prints Fizz when a number is divible by 3, Buzz when divisible by 5, FizzBuzz when divisible by 3 and 5, or the current number if it's not divisible.  Each number must be a line.
                    div.question-example-editor
                      p Example:<br>
                      | 1<br>
                      | 2<br>
                      | Fizz<br>
                      | 4<br>
                      | Buzz<br>
                  div
                    h3.application-section-name Anwser the Challenge Question
                  div#editor
                    function foo(items) {
                      var x = "All this is syntax highlighted";
                      return x;
                    }
                div.col-sm-12.submit-wrapper
                  input#code(type='hidden', name='code')
                  input.btn.question-btn(type='submit' value='Submit')
  section#footer
    footer
      div.container.footer-wrapper
        div.row
          div.col-sm-12
            div.row
              div.col-sm-7
                p.footer-text Piloto 151, in conjunction with its partners at Startups of Puerto Rico, launches the first internship exchange program designed to provide talented, Puerto Rican developers with the opportunity to intern at up and coming startups in the US mainland.
              div.col-sm-5(style='text-align:right;')
                h4.footer-text-right Visit <a href='http://piloto151.com'>Piloto 151</a>.
                h5.footer-text-right © 2013 Piloto 151 Fellows






  script.
    document.getElementById('apply').onsubmit = function () {
      document.getElementById('code').value = editor.getSession().getValue();
      return true;
    };
