extends layout

block content
  div
    form(action='/save', method='post', enctype='multipart/form-data')
      h3 General Information
      input(type='text', placeholder='First Name')
      input(type='text', placeholder='Last Name')
      input(type='text', placeholder='Phone Number')
      input(type='email', placeholder='Email')
      h3 Shcool Information
      input(type='text', placeholder='School')
      input(type='text', placeholder='Grade Point Average (GPA)')
      h3 Experience
      h3 Anwser the Challenge Question
      h4 Question
      h3 Resume
      input(type='file', name='resume')
      div
      div#editor
        function foo(items) {
          var x = "All this is syntax highlighted";
          return x;
        }