doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='ace/src-min-noconflict/ace.js', type='text/javascript', charset='utf-8')
    script
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/terminal");
        editor.getSession().setMode("ace/mode/javascript");
        ditor.getSession().setMode("ace/mode/java");