#site-nav {
  background: #fff;
  height: 80px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  transition: all 0.35s ease;
  z-index: 100;
}
#site-nav .logo {
  width: 110px;
  padding: 11px 0;
}
#site-nav .tagline {
  float: right;
  text-align: right;
  font-size: 15px;
  font-weight: 600;
  padding: 22px 30px;
  height: 80px;
  display: table-cell;
}
.btn-outline {
  background: none;
  border-radius: 4px;
  font-size: 0.8em;
  border: 2px solid #ed6267;
  border-radius: 3px;
  color: #ed6267;
  transition: none;
  padding: 0.6em 1.2em;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  text-rendering: optimizeLegibility;
  vertical-align: middle;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn {
  color: #fff;
  font-weight: bold;
  background-color: #ed6267;
  font-size: 1em;
  padding: 0.6em 1.2em;
  display: inline-block;
  position: relative;
  border: 0;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  vertical-align: bottom;
  text-rendering: optimizeLegibility;
  border-radius: 2px;
  vertical-align: middle;
  border-radius: 2px;
  background: #ed6267;
  border: 2px solid #ed6267;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn-outline:hover {
  color: #ed6267;
}
#top-content {
  background: url('/image/fellow-image.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  margin-top: 60px;
}
#top-content .call-out {
  position: relative;
  top: 80px;
  left: 0;
  width: 100%;
  text-align: center;
  box-sizing:border-box;
}
.call-out h2 {
  color: #fff;
  font-weight: 400;
  font-size: 4em;
  line-height: 1.2em;
  text-shadow: 0 2px 4px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}
.call-out .btn-apply {
  margin-top: 30px;
  padding: 1.2em 5em;
  font-size: 1.3em;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.2) !important;
  line-height: 1.3;
}
.call-out .btn-apply:hover {
  color:white;
  background:#dc5b5f;
}
#content-section {
  padding: 120px 0;
  float:left;
  width:100%;
}
#content-section .right-column {
  float:right;
}
.content-text {
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 300;
  text-align: center;
  padding: 112px 0;
}
#company {
  float:left;
  width:100%;
}
#company .companies-grid {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  float:left;
  width: 100%;
  padding: 0;
  margin: 0;
}
#company .full-width-grid {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
#company .grid-item {
  width: 25%;
}
#company .grid-item {
  border-right: 1px solid #ddd;
  text-align: center;
  position: relative;
  display: inline;
  float: left;
}
#company .front {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
}
#company .foreground img {
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}
#company .foreground img {
  position: relative;
  z-index: 2;
}
.foreground img {
  max-width: 100%;
}
.company-info-grid {
  float: left;
  width: 75%;
  position: relative;
}
.company-name {
  color: #ed6267;
  font-size: 1.5em;
  line-height: 1.4em;
  font-weight: 300;
  margin: 0 auto;
  padding-bottom: 4px;
  border-bottom: 3px solid #f4f5f8;
  display: inline;
}
.company-bio {
  margin: 52px 0;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 300;
}
.second-section-title {
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 300;
  text-align: center;
  width: 575px;
  margin: 0 auto;
  padding-bottom: 15px;
  margin-bottom: 50px;
  border-bottom: 3px solid #f4f5f8;
}
.second-section-text {
  text-align: left;
  font-size: 1.1em;
  line-height: 1.5em;
  font-weight: 300;
}
.intern-requirment {
  text-align: left;
  font-size: 1.1em;
  line-height: 1.5em;
  font-weight: 300;
}








.editor-wrapper {
  position:relative;
}

#editor { 
  height: 525px;
  border: 1px solid #DDD;
  margin-top: 5px;
}

