#site-nav {
  background: #fff;
  height: 80px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  transition: all 0.35s ease;
  z-index: 100;
}
#site-nav .logo {
  width: 110px;
  padding: 11px 0;
}
#site-nav .tagline {
  float: right;
  text-align: right;
  font-size: 15px;
  font-weight: 600;
  padding: 22px 30px;
  height: 80px;
  display: table-cell;
}
.btn-outline {
  background: none;
  border-radius: 4px;
  font-size: 0.8em;
  border: 2px solid #ed6267;
  border-radius: 3px;
  color: #ed6267;
  transition: none;
  padding: 0.6em 1.2em;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  text-rendering: optimizeLegibility;
  vertical-align: middle;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn {
  color: #fff;
  font-weight: bold;
  background-color: #ed6267;
  font-size: 1em;
  padding: 0.6em 1.2em;
  display: inline-block;
  position: relative;
  border: 0;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  vertical-align: bottom;
  text-rendering: optimizeLegibility;
  border-radius: 2px;
  vertical-align: middle;
  border-radius: 2px;
  background: #ed6267;
  border: 2px solid #ed6267;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn-outline:hover {
  color: #ed6267;
}
#top-content {
  background: url('/image/fellow-image.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  margin-top: 60px;
}
#top-content .call-out {
  position: relative;
  top: 80px;
  left: 0;
  width: 100%;
  text-align: center;
  box-sizing:border-box;
}
.call-out h2 {
  color: #fff;
  font-weight: 400;
  font-size: 4em;
  line-height: 1.2em;
  text-shadow: 0 2px 4px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}
.call-out .btn-apply {
  margin-top: 30px;
  padding: 1.2em 5em;
  font-size: 1.3em;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.2) !important;
  line-height: 1.3;
}
.call-out .btn-apply:hover {
  color:white;
  background:#dc5b5f;
}








.editor-wrapper {
  position:relative;
}

#editor { 
  height: 525px;
  border: 1px solid #DDD;
  margin-top: 5px;
}

